.spinner {
    width: 26px;
    height: 26px;
    border-radius: 50%;
   animation: spinner-zp9dbg 1s infinite linear;
 }
 
 @keyframes spinner-zp9dbg {
    to {
       transform: rotate(1turn);
    }
 }